body, html {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

body {
    font-family: "Source Sans 3", sans-serif;
}

.top-section-wrapper{
    background-color: #001D37;
    overflow: hidden;
}

.top-section {
    color: #FFFFFF;
    padding-top: 139px;
    padding-bottom: 151px;
    padding-left: 16px;
    max-width: 1085px;
    margin: 0 auto;
    position: relative;
}

.actual-top-content {
    z-index: 5;
    position: relative;
}

.top-section h1 {
    font-weight: 700;
    font-size: 6.25rem;
    line-height: 97.3%;
    max-width: 525px;
    margin: 0;
}

.intro-text {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 169.3%;
    max-width: 425px;
    margin: 22px 0px 32px;
}

.intro-buttons {
    margin-bottom: 129px;
}

.our-btn {
    display: inline-block;
    justify-content: center;
    align-items: center;
    
    font-weight: 600;
    font-size: 1.125rem;
    color: #FFFFFF;
    text-decoration: none;
    
    background-color: #475AFF;
    border: 2px solid #475AFF;
    padding: 14px 40px;
    gap: 10px;
    border-radius: 71px;
}

.our-btn--outline {
    background-color: transparent;
    border: 2px solid #FFFFFF;
}

.utility-mr {
    margin-right: 11px;
}

.intro-feature {
    padding: 33px 25px;
    border: 1px solid rgba(255, 255, 255, .24);
}

.intro-feature p {
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 151.8%;
    margin: 0;
}

.intro-feature h2 {
    font-weight: 700;
    font-size: 1.5rem;
    line-height: 97.3%;
    margin: 35px 0px 5px 0;
}

.intro-features {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
}

.circle {
    position: absolute;
    width: 617px;
    height: 617px;
    right: -400px;
    top: 62px;

    background: #D660FF;
    opacity: .85;
    border-radius: 50%;
    filter: blur(150px);
}

.circle-2 {
    position: absolute;
    width: 617px;
    height: 617px;
    left: -120px;
    top: -365px;

    background: #6079FF;
    opacity: .85;
    border-radius: 50%;
    filter: blur(150px);
}

.page-section {
    background-color: #FFFFFF;
}

.page-section-inner {
    color: #000000;
    padding-top: 130px;
    padding-left: 16px;
    padding-bottom: 137px;
    max-width: 1085px;
    margin: 0 auto;
}

.page-section-title {
    font-weight: 700;
    font-size: 5.31rem;
    line-height: 97.3%;
    margin: 0;
}

.pet-filter {
    color: #9F9F9F;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 28px;
}

.pet-filter button {
    background-color: transparent;
    border: none;
    font-size: 1.375rem;
    font-weight: 400;
    line-height: 28px;
    color: #9F9F9F;
}

.site-footer p {
    margin: 0;
    padding: 0 0 65px 0;

    font-weight: 400;
    font-size: 0.875rem;
    line-height: 97.3%;
    text-align: center;

    color: #A6A6A6;
}

.list-of-pets {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 34px;
    row-gap: 28px;
}

.pet-card {
    display: grid;
    grid-template-columns: 165px 1fr;
    
    border: 1px solid #F3F3F3;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.08);
    border-radius: 20px;

    overflow: hidden;
}

.pet-card-photo {
    order: 1;
    grid-row: 1;
}

.pet-card-photo img{
    width: 100%;
    height: 100%;
    display: block;
    object-fit: cover;
}

.pet-card-text {
    padding: 21px 29px;
}

.pet-card-text h3 {
    margin: 0 0 5px 0;
    font-size: 1.625rem;
    font-weight: 600;
}

.pet-description {
    margin: 0 0 1rem 0;
    color: #626262;
    font-size: 1rem;
    line-height: 150%;   
}

.pet-age {
    color: #A2A2A2;
    font-size: 0.85rem;
    margin: 0;
}