body, html {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
}

body {
    font-family: "Source Sans 3", sans-serif;
}

.top-section-wrapper{
    background-color: #001D37;
}

.top-section {
    color: #FFFFFF;
    padding-top: 139px;
    padding-bottom: 151px;
    padding-left: 16px;
    max-width: 1060px;
    margin: auto;
}

.top-section h1 {
    font-weight: 700;
    font-size: 6.25rem;
    line-height: 97.3%;
    max-width: 525px;
    margin: 0;
}

.intro-text {
    font-weight: 400;
    font-size: 1.25rem;
    line-height: 169.3%;
    max-width: 425px;
    margin: 22px 0px 32px;
}

.intro-buttons {
    margin-bottom: 129px;
}

.our-btn {
    display: inline-block;
    justify-content: center;
    align-items: center;
    
    font-weight: 600;
    font-size: 1.125rem;
    color: #FFFFFF;
    text-decoration: none;
    
    background-color: #475AFF;
    padding: 14px 40px;
    gap: 10px;
    border-radius: 71px;
}

.our-btn--outline {
    background-color: transparent;
    border: 2px solid #FFFFFF;
}

.utility-mr {
    margin-right: 11px;
}

.intro-feature {
    padding: 33px 25px;
    border: 1px solid rgba(255, 255, 255, .24);
}

.intro-feature p {
    font-weight: 400;
    font-size: 1.0625rem;
    line-height: 151.8%;
    margin: 0;
}

.intro-feature h3 {
    font-weight: 700;
    font-size: 24px;
    line-height: 97.3%;
    padding-bottom: 7px;
    margin: 0;
}

.intro-features {
    display: inline-grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 15px;
    max-width: 1085px;
}